body{
    background-color: #EAE7DC;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-between;
}

.headshot {
    max-height: 50vh;
    max-width: 50vw;
    border-radius: 10px;
}

.header{
    background-color: #EAE7DC;
    color: #8E8D8A;
    width: 100%;
    margin-left: 0 !important;
    height: 10%;
    display: flex;
}

.header>h1{
    font-size: 3em;
    font-weight: bold;
    padding-left: 15%;
    display: inline-block;
    align-self: flex-end;
    margin-bottom: -5px;
}

.item {
    width: 33%;
    height: 100px;
    margin-bottom: 2%;
    text-align: center;
  }

.content {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image-row{
    justify-content: center;
    align-items: center;
    width: 50%;
    display: flex;
  }

  .twenty-five{
    width: 25%;
  }

  .about {
      text-align: center;
  }

  .icon{
    height: 100px;
  }

  .d-none{
    display: none;
  }
  @media only screen and (max-width: 750px) {
    .about {
        width: 100%;
    }
  }

  @media only screen and (min-width: 751px) {
    .about {
        width: 70%;
    }
  }
